@use 'inc/vars' as v;

@use 'inc/navbar';
@use 'inc/content';
@use "inc/audioplayer";

* {
    font-family: sans-serif;
    margin: 0;
}

.link-block {
    text-decoration: none;
    display: block;
    color: black;
    border-width: 1px;
    border-style: solid;
    position: relative;
}

.link-block:hover {
    border-color: #a4a4a4;
}

.link-wrapper {
    color: black;
    text-decoration: none;
}

.link-container * {
    text-decoration: none;
    color: black;
}

.link-container:hover {
    .username {
        border-color: #a4a4a4;
    }
    .profile-picture {
        border-color: #a4a4a4;
        border-width: 1px;
    }
}

.covering-link {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
