/* Add a black background color to the top navigation bar */

#topnav {
  padding: 6px 8px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #e9e9e9;
  height: 40px;
}

/* Style the links inside the navigation bar */

#topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  width: 70px;
}

/* Change the color of links on hover */

#topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */

#topnav a.active {
  background-color: black;
  color: white;
}

/* Style the search box inside the navigation bar */

#nav-middle input[type=text] {
  flex: 1;
  border: none;
  font-size: 17px;
}

#topnav a,
input[type=text] {
  border-radius: 6px;
  padding: 10px;
}

#nav-middle,
#nav-left,
#nav-right {
  margin: 0;
  height: 100%;
  display: flex;
}

#nav-left,
#nav-right {
  width: 30vw;
}

#nav-middle {
  align-self: center;
  flex-grow: 1;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

@media screen and (max-width: 600px) {
  #topnav div {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  #topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

#content {
  width: 100%;
}

.post-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post {
  margin: 10px 0;
  width: 900px;
}

.user-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.username {
  padding: 4px 6px;
  background-color: #f1f1f1;
  border-radius: 15px;
  border: 1px solid #f1f1f1;
}

.profile-picture {
  border: solid lightgrey 0.5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.song-container h2 {
  font-size: 19px;
  margin-bottom: 10px;
}

.song-container {
  margin-left: 41px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
  border-color: #f1f1f1;
}

audiocontrolls {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}

.play {
  background: #d7d7d7 url(/images/playbutton.png?e97126c887470030332bb84c20af4737) no-repeat center;
}

.pause {
  background: #d7d7d7 url(/images/pausebutton.png?78f43c88481bee28ebfbd47129896401) no-repeat center;
}

.play-button {
  z-index: 1;
  margin-right: 10px;
  border-radius: 50%;
  padding: 0;
  height: 45px;
  width: 45px;
  border: none;
  background-size: 60%;
}

.play-button:focus {
  outline: none;
}

.play-button:hover {
  background-color: #cbcbcb;
}

.play-button:active {
  background-color: #afafaf;
}

.timeline {
  z-index: 1;
  flex-grow: 1;
  width: 400px;
  height: 10px;
  background: #d7d7d7;
  float: left;
  border-radius: 15px;
}

.timeline:hover {
  background-color: #cbcbcb;
}

.playhead {
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -5px;
  background: black;
}

* {
  font-family: sans-serif;
  margin: 0;
}

.link-block {
  text-decoration: none;
  display: block;
  color: black;
  border-width: 1px;
  border-style: solid;
  position: relative;
}

.link-block:hover {
  border-color: #a4a4a4;
}

.link-wrapper {
  color: black;
  text-decoration: none;
}

.link-container * {
  text-decoration: none;
  color: black;
}

.link-container:hover .username {
  border-color: #a4a4a4;
}

.link-container:hover .profile-picture {
  border-color: #a4a4a4;
  border-width: 1px;
}

.covering-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

