/* Add a black background color to the top navigation bar */

#topnav {
  width: 100%;
  position: fixed;
  padding: 6px 0;
  display: flex;
  flex-direction: row;
  background-color: #e9e9e9;
  height: 40px;
  z-index: 10;
}

/* Style the links inside the navigation bar */

.nav-link {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.nav-link:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */

.nav-link.active {
  background-color: black;
  color: white;
}

/* Style the search box inside the navigation bar */

#nav-middle input[type=text] {
  flex: 1;
  border: none;
  font-size: 17px;
}

.nav-item {
  margin: 0 4px;
  border-radius: 6px;
  padding: 10px;
}

#nav-middle,
#nav-left,
#nav-right {
  margin: 0;
  height: 100%;
  display: flex;
}

#nav-left,
#nav-right {
  width: 30vw;
}

#nav-middle {
  align-self: center;
  flex-grow: 1;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

@media screen and (max-width: 600px) {
  #topnav div {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  #topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

#topnav li {
  list-style-type: none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 6px;
}

/* Style the links inside the navigation bar */

.dropdown-item {
  z-index: 99;
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
  background-color: #e9e9e9;
}

/* Change the color of links on hover */

.dropdown-item:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */

.dropdown-item.active {
  background-color: black;
  color: white;
}

#search-form {
  width: 100%;
  display: flex;
}

#search-button {
  background: url(https://a-v2.sndcdn.com/assets/images/search-dbfe5cbb.svg) 0 0 no-repeat;
  width: 15px;
  height: 15px;
  border: none;
  position: relative;
  right: 35px;
  top: 12.5px;
}

#search-button:focus {
  outline: none;
}

main {
  padding-top: 52px;
}

#content {
  width: 100%;
}

.post-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post {
  margin: 10px 0;
  width: 900px;
}

.user-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.username-1 {
  padding: 4px 6px;
  background-color: #f1f1f1;
  border-radius: 15px;
  border: 1px solid #f1f1f1;
}

.profile-picture {
  border: solid lightgrey 0.5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.username-2 {
  margin: 10px 0;
  color: #4c4c4c;
}

.ap-container {
  padding: 14px;
  background-color: #f1f1f1;
  border-radius: 15px;
}

.comment-section {
  margin: 15px 0 10px 0;
  width: 900px;
  font-size: 17px;
}

#comment-button {
  background: url(https://a-v2.sndcdn.com/assets/images/search-dbfe5cbb.svg) 0 0 no-repeat;
  width: 15px;
  height: 15px;
  border: none;
  position: relative;
  right: 35px;
  top: 12.5px;
}

.description {
  word-wrap: break-word;
}

.tags {
  margin-bottom: 10px;
}

.tag {
  position: relative;
  z-index: 10;
  font-size: 15px;
  padding: 3px 5px;
  background-color: #dedede;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.tag:hover {
  background-color: #d6d6d6;
}

.search-tag {
  display: inline-block;
  font-size: 17px;
  padding: 3px 5px;
  background-color: #dedede;
  border-radius: 10px;
}

#search-info {
  margin: 10px 0;
  width: 900px;
}

#search-tags-container {
  margin-left: 41px;
}

.add {
  margin-left: 7px;
  padding: 0;
  outline: none;
  background: url(/images/plusbutton.png?7c7e5926a4b78320fc9b1cdaf1ac165c) no-repeat center Transparent;
  background-size: 100%;
  height: 13px;
  width: 13px;
  border: none;
}

.disable-button {
  position: relative;
  overflow: hidden;
  margin-left: 7px;
  padding: 0;
  outline: none;
  height: 20px;
  width: 20px;
  background: #cacaca url(/images/plusbutton.png?7c7e5926a4b78320fc9b1cdaf1ac165c) no-repeat center;
  background-size: 60%;
  transform: rotate(45deg);
  border: none;
  border-radius: 50%;
}

.disable-button:hover {
  background-color: #b7b7b7;
}

.song-container h2 {
  font-size: 19px;
  margin-bottom: 10px;
}

.song-container {
  margin-left: 41px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
  border-color: #f1f1f1;
}

audiocontrolls {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}

.play {
  background: #dedede url(/images/playbutton.png?e97126c887470030332bb84c20af4737) no-repeat center;
}

.pause {
  background: #dedede url(/images/pausebutton.png?78f43c88481bee28ebfbd47129896401) no-repeat center;
}

.play-button {
  z-index: 1;
  margin-right: 10px;
  border-radius: 50%;
  padding: 0;
  height: 45px;
  width: 45px;
  border: none;
  background-size: 60%;
}

.play-button:focus {
  outline: none;
}

.play-button:hover {
  background-color: #cbcbcb;
}

.play-button:active {
  background-color: #afafaf;
}

.timeline {
  z-index: 1;
  flex-grow: 1;
  width: 400px;
  height: 10px;
  background: #dedede;
  float: left;
  border-radius: 15px;
}

.timeline:hover {
  background-color: #cbcbcb;
}

.playhead {
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -5px;
  background: black;
}

.form-container {
  margin: 80px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-header {
  font-size: 25px;
}

.form-group {
  margin: 20px 0;
}

.form-textbox {
  border: 1px solid #949494;
  border-radius: 5px;
  font-size: 22px;
  width: 500px;
}

.form-textarea {
  border: 1px solid #949494;
  border-radius: 5px;
  font-size: 18px;
  width: 500px;
}

.form-file {
  border: 1px solid #949494;
  border-radius: 5px;
  font-size: 18px;
  width: 500px;
}

.form-label {
  font-size: 17px;
}

.form-submit {
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 17px;
}

.form-submit:hover {
  background-color: #cdcdcd;
}

.form-submit:active {
  background-color: #bababa;
}

.is-invalid {
  background-color: #ffe6e6;
}

.invalid-feedback {
  color: #e70000;
}

textarea {
  resize: none;
}

* {
  font-family: sans-serif;
  margin: 0;
}

.link-block {
  text-decoration: none;
  display: block;
  color: black;
  border-width: 1px;
  border-style: solid;
  position: relative;
}

.link-block:hover {
  border-color: #a4a4a4;
}

.link-wrapper {
  color: black;
  text-decoration: none;
}

.link-container {
  text-decoration: none;
  color: black;
}

.link-container:hover .username {
  border-color: #a4a4a4;
}

.link-container:hover .profile-picture {
  border-color: #a4a4a4;
  border-width: 1px;
}

.covering-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.invisible {
  display: none;
}

