/* Add a black background color to the top navigation bar */

#topnav {
  padding: 6px 8px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #e9e9e9;
  height: 40px;
}

/* Style the links inside the navigation bar */

#topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  width: 70px;
}

/* Change the color of links on hover */

#topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */

#topnav a.active {
  background-color: black;
  color: white;
}

/* Style the search box inside the navigation bar */

#nav-middle input[type=text] {
  flex: 1;
  border: none;
  font-size: 17px;
}

#topnav a,
input[type=text] {
  border-radius: 6px;
  padding: 10px;
}

#nav-middle,
#nav-left,
#nav-right {
  margin: 0;
  height: 100%;
  display: flex;
}

#nav-left,
#nav-right {
  width: 30vw;
}

#nav-middle {
  align-self: center;
  flex-grow: 1;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

@media screen and (max-width: 600px) {
  #topnav div {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  #topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

#content {
  width: 100%;
}

.post-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post {
  margin: 10px 0;
  width: 900px;
  height: 500px;
}

.user-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

username {
  padding: 4px 6px;
  background-color: #f1f1f1;
  border-radius: 15px;
}

.profile-picture {
  border: solid lightgrey 0.5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.song-container h2 {
  font-size: 19px;
}

.song-container {
  margin-left: 41px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
}

* {
  font-family: sans-serif;
  margin: 0;
}

