@use 'vars' as v;

.song-container h2 {
    font-size: 19px;
    margin-bottom: 10px;
}

.song-container {
    margin-left: 41px;
    margin-bottom: 10px;
    background-color: v.$backgroundColor;
    padding: 15px;
    border-radius: 10px;
    border-color: v.$backgroundColor;
}

audiocontrolls {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
}

.play {
    background: v.$darkBackground url('../../img/playbutton.png') no-repeat center;
}
.pause {
    background: v.$darkBackground url('../../img/pausebutton.png') no-repeat center;
}

.play-button {
    z-index: 1;
    margin-right: 10px;
    border-radius: 50%;
    padding: 0;
    height: 45px;
    width: 45px;
    border: none;
    background-size: 60%;
}

.play-button:focus {
    outline: none;
}

.play-button:hover {
    background-color: #cbcbcb;
}

.play-button:active {
    background-color: #afafaf;
}

$timelineThickness: 10px;
.timeline{
    z-index: 1;
    flex-grow: 1;
    width: 400px;
    height: $timelineThickness;
    background: v.$darkBackground;
    float: left;
    border-radius: 15px;
}

.timeline:hover {
    background-color: #cbcbcb;
}

$extraPlayheadThickness: 10px;
.playhead{
    z-index: 1;
    width: $timelineThickness + $extraPlayheadThickness;
    height: $timelineThickness + $extraPlayheadThickness;
    border-radius: 50%;
    margin-top: $extraPlayheadThickness * -0.5;
    background: black;
}
