@use 'vars' as v;

main {
    padding-top: 52px;
}

#content {
    width: 100%;
}

.post-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post {
    margin: 10px 0;
    width: 900px;
}

.user-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: fit-content;
}

.username-1 {
    padding: 4px 6px;
    background-color: v.$backgroundColor;
    border-radius: 15px;
    border: 1px solid v.$backgroundColor;
}

.profile-picture {
    border: solid lightgrey 0.5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.username-2 {
    margin: 10px 0;
    color: #4c4c4c;
}

.ap-container {
    padding: 14px;
    background-color: v.$backgroundColor;
    border-radius: 15px;
}

.comment-section {
    margin: 15px 0 10px 0;
    width: 900px;
    font-size: 17px;
}

#comment-button {
    background: url(https://a-v2.sndcdn.com/assets/images/search-dbfe5cbb.svg) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    border: none;
    position: relative;
    right: 35px;
    top: 12.5px;
}

.description {
    word-wrap: break-word;
}

.tags {
    margin-bottom: 10px;
}

.tag {
    position: relative;
    z-index: 10;
    font-size: 15px;
    padding: 3px 5px;
    background-color: v.$darkBackground;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: none;
}

.tag:hover {
    background-color: #d6d6d6;
}

.tag:active {
    outline: none;
    border: none;
}

.tag:focus {
    background-color: #c8c8c8;
    outline: none;
}

.tag-form {
    display: inline-block;
}

.search-tag {
    display: inline-block;
    font-size: 17px;
    padding: 3px 5px;
    background-color: v.$darkBackground;
    border-radius: 10px;
}

#search-info {
    margin: 10px 0;
    width: 900px;
}

#search-tags-container {
    margin-left: 41px;
}

.add {
    margin-left: 7px;
    padding: 0;
    outline: none;
    background: url('../../img/plusbutton.png') no-repeat center Transparent;
    background-size: 100%;
    height: 13px;
    width: 13px;
    border: none;
}

.disable-button {
    position: relative;
    overflow: hidden;
    margin-left: 7px;
    padding: 0;
    outline: none;
    height: 20px;
    width: 20px;
    background: #cacaca url('../../img/plusbutton.png') no-repeat center;
    background-size: 60%;
    transform: rotate(45deg);
    border: none;
    border-radius: 50%;
}

.disable-button:hover {
    background-color: #b7b7b7;
}
