@use 'vars' as v;

#content {
    width: 100%;
}

.post-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post {
    margin: 10px 0;
    width: 900px;
}

.user-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: fit-content;
}

.username {
    padding: 4px 6px;
    background-color: v.$backgroundColor;
    border-radius: 15px;
    border: 1px solid v.$backgroundColor;
}

.profile-picture {
    border: solid lightgrey 0.5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

