/* Add a black background color to the top navigation bar */
#topnav {
    width: 100%;
    position: fixed;
    padding: 6px 0;
    display: flex;
    flex-direction: row;
    background-color: #e9e9e9;
    height: 40px;
    z-index: 10;
}

/* Style the links inside the navigation bar */
.nav-link {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.nav-link:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.nav-link.active {
    background-color: black;
    color: white;
}

/* Style the search box inside the navigation bar */
#nav-middle input[type=text] {
    flex: 1;
    border: none;
    font-size: 17px;
}

.nav-item {
    margin: 0 4px;
    border-radius: 6px;
    padding: 10px;
}

#nav-middle, #nav-left, #nav-right {
    margin: 0;
    height: 100%;
    display: flex;
}

#nav-left, #nav-right {
    width: 30vw;
}

#nav-middle {
    align-self: center;
    flex-grow: 1;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    #topnav div {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    #topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

#topnav li {
    list-style-type: none;
}


.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 6px;
}

/* Style the links inside the navigation bar */
.dropdown-item {
    z-index: 99;
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    background-color: #e9e9e9;
}

/* Change the color of links on hover */
.dropdown-item:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.dropdown-item.active {
    background-color: black;
    color: white;
}

#search-form {
    width: 100%;
    display: flex;
}

#search-button {
    background: url(https://a-v2.sndcdn.com/assets/images/search-dbfe5cbb.svg) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    border: none;
    position: relative;
    right: 35px;
    top: 12.5px;
}
#search-button:focus {
    outline: none;
}
